root {
    font-size: 16px;;
}

body {
    font-family: monospace;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

nav {
    display: flex;
    position: static;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(19, 0, 113);
    opacity: 0.8;
    padding: 1rem;
}

.logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.navmenu {
    list-style: none;
    display: inline-flex;
    gap: 1rem;
    margin-right: 1rem;
}

.nav-link {
    font-size: 1rem;
    color: white;
    padding: 1rem;
    text-decoration: none;
}

.nav-link:hover {
    font-size: 1rem;
    color: white;
    background-color: rgb(54, 0, 161);
    padding: 1rem;
    text-decoration: none;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background,
.earth,
.stars,
.astronaut,
.milkyway {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.background {
    transform: translateZ(-30px) scale(10);
}

.earth {
    position: relative;
    top: 1rem;
    left: 1rem;
    object-fit: contain;
    transform: translateZ(-15px) scale(.85) translate(250%, 0%);
    z-index: -1;
}

.stars {
    position: absolute;
    z-index: -2;
    transform: translateZ(-25px) scale(4, 6);
    background: repeat;
}

.astronaut {
    position: relative;
    top: 1rem;
    right: 15rem;
    z-index: -1;
    object-fit: contain;
    transform: translateZ(-8px) scale(0.65);
}

.milkyway {
position: relative;
bottom: 1rem;
left: 10rem;
height: 100%;
width: 100%;
object-fit: contain;
transform: translateZ(-22px) scale(1) translate(-150%, 150%);
z-index: -1;
}

.title {
    position: absolute;
    left: 5rem;
    transform: translateZ(-2px) scale(1.25);
    font-size: 3rem;
    color: white;
    text-shadow: 0 0 35px rgb(210, 210, 210);
}

.inline-heading {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 30px rgb(161, 161, 161);
    text-align: center;
}

p {
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3rem;
    margin-bottom: 3rem;
}

.break {
    margin: 3rem;
}